<!-- cart-main-area start -->
<div class="cart-main-area ptb--120" style="background: #EBE9E9;">
  <div class="container">
    <div nz-row>
      <div nz-col>
        <div class="buttons-cart">
          <a routerLink="/pages">Tiếp tục mua hàng</a>
        </div>
      </div>
    </div>
    <div nz-row>
      <div nz-col style="background: #fff;" align="center">
        <div style="padding-top: 20px;">
          <h1>QUẢN LÝ ĐƠN HÀNG</h1>
          <nz-divider nzOrientation="left" nzText="Đơn hàng đã đặt"></nz-divider>
          <div nz-row>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="22">
              <nz-table  nzShowSizeChanger
                         [nzData]="bills"
                         [nzFrontPagination]="false"
                         [nzLoading]="loading"
                         [nzTotal]="total"
                         [nzPageSize]="pageSize"
                         [nzPageIndex]="pageIndex"
                         [nzScroll]="{ y: '500px' }"
                         (nzPageIndexChange)="onCurrentPageDataChange($event, false)"
                         (nzPageSizeChange)="onCurrentPageDataChange($event, true)"
                         style="margin-top: 20px;"
              >
                <thead>
                <tr>
                  <th style="width: 10%">Ngày đặt mua</th>
                  <th style="width: 5%">Mã đơn hàng</th>
                  <th style="width: 15%" align="center">Tổng tiền</th>
                  <th style="width: 15%">Hình thức giao hàng</th>
                  <th style="width: 30%">Địa chỉ nhận hàng</th>
                  <th style="width: 15%">Trạng thái đơn hàng</th>
                  <th style="width: 10%">Hủy đơn hàng</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of bills; let i = index" (click)="onSelect(i)">
                  <td style="width: 10%"><p>{{ data.fromDate | customDate}}</p></td>
                  <td style="width: 5%"><p>{{ data.id }}</p></td>
                  <td style="width: 15%; text-align: center"><p>{{ data.totalAmount | currency: 'VND':'symbol':'1.0-0':'vi-VN' }}</p></td>
                  <td style="width: 15%"><p>{{ data.typeShip === GIAO_HANG_TAN_NOI ? 'Giao hàng tại nơi' : 'Nhận tại cửa hàng' }}</p></td>
                  <td style="width: 30%" *ngIf="data.typeShip === GIAO_HANG_TAN_NOI"><p>{{ data.addressClient }}</p></td>
                  <td style="width: 30%" *ngIf="data.typeShip === NHAN_TAI_CUA_HANG"><p>{{ data.addressWarehouse }}</p></td>
                  <td style="width: 15%">
                    <p *ngIf="data.status === DA_XAC_NHAN">Đã xác nhận</p>
                    <p *ngIf="data.status === DA_GIAO_HANG">Đã giao hàng</p>
                    <p *ngIf="data.status === DA_HUY">Đã hủy</p>
                  </td>
                  <td>
                    <i nz-icon nzType="delete" (click)="showDeleteConfirm(data, 'Bạn có chắc chắn hủy đơn hàng này không?')" style="margin-left: 15px;" *ngIf="data.status === DA_XAC_NHAN"></i>
                  </td>
                </tr>
                </tbody>
              </nz-table>
            </div>
            <div nz-col nzSpan="1"></div>
          </div>
          <nz-divider nzOrientation="left" nzText="Chi tiết đơn hàng {{bill.id}}" *ngIf="carts.length > 0"></nz-divider>
          <div nz-row>
            <div nz-col nzSpan="1"></div>
            <div nz-col nzSpan="22">
              <nz-table  nzShowSizeChanger
                         [nzData]="carts"
                         [nzFrontPagination]="false"
                         [nzLoading]="loading"
                         [nzTotal]="total"
                         [nzPageSize]="pageSizeDetail"
                         [nzPageIndex]="pageIndexDetail"
                         [nzScroll]="{ y: '500px' }"
                         (nzPageIndexChange)="onCurrentPageDataChangeDetail($event, false)"
                         (nzPageSizeChange)="onCurrentPageDataChangeDetail($event, true)"
                         style="margin-top: 20px;"
                         *ngIf="carts.length > 0"
              >
                <thead>
                <tr>
                  <th style="width: 35%" [nzAlign]="'center'">Ảnh</th>
                  <th style="width: 25%">Tên sản phẩm</th>
                  <th style="width: 10%">Số lượng</th>
                  <th style="width: 15%">Đơn giá</th>
                  <th style="width: 15%">Thành tiền</th>
                </tr>
                </thead>
                <tbody>
                <tr *ngFor="let data of carts; let i = index">
                  <td style="width: 35%" [nzAlign]="'center'"><img src="{{data.image}}" style="width: 150px;" alt="logo"></td>
                  <td style="width: 25%"><p>{{ data.namePro }}</p></td>
                  <td style="width: 10%;" [nzAlign]="'center'"><p>{{ data.quantity }}</p></td>
                  <td style="width: 15%"><p>{{ data.price | currency:  'VND':'symbol':'1.0-0':'vi-VN' }}</p></td>
                  <td style="width: 15%"><p>{{ data.amount | currency:  'VND':'symbol':'1.0-0':'vi-VN' }}</p></td>
                </tr>
                </tbody>
              </nz-table>
            </div>
            <div nz-col nzSpan="1"></div>
          </div>
        </div>
      </div>
      <div nz-col nzSpan="2"></div>
    </div>
  </div>
</div>
<!-- cart-main-area end -->
