<!-- End Blog Area -->
<!-- Start Footer Area -->
<footer class="htc__foooter__area gray-bg">
  <div class="container">
    <div class="row">
      <div class="footer__container clearfix">
        <!-- Start Single Footer Widget -->
        <div class="col-md-3 col-lg-3 col-sm-6">
          <div class="ft__widget">
            <div class="ft__logo">
              <a>
                <img src="./assets/images/logo/logo.png" alt="footer logo">
              </a>
            </div>
            <div class="footer-address">
              <ul>
                <li>
                  <div class="address-icon">
                    <i class="zmdi zmdi-pin"></i>
                  </div>
                  <div class="address-text">
                    <p>Thanh Xuân, Hà Nội</p>
                  </div>
                </li>
                <li>
                  <div class="address-icon">
                    <i class="zmdi zmdi-email"></i>
                  </div>
                  <div class="address-text">
                    <a> info@example.com</a>
                  </div>
                </li>
                <li>
                  <div class="address-icon">
                    <i class="zmdi zmdi-phone-in-talk"></i>
                  </div>
                  <div class="address-text">
                    <p>+012 345 678 102 </p>
                  </div>
                </li>
              </ul>
            </div>
            <ul class="social__icon">
              <li><a><i class="zmdi zmdi-twitter"></i></a></li>
              <li><a><i class="zmdi zmdi-instagram"></i></a></li>
              <li><a><i class="zmdi zmdi-facebook"></i></a></li>
              <li><a><i class="zmdi zmdi-google-plus"></i></a></li>
            </ul>
          </div>
        </div>
        <!-- End Single Footer Widget -->
        <!-- Start Single Footer Widget -->
        <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
          <div class="ft__widget">
            <h2 class="ft__title">Loại sản phẩm</h2>
            <ul class="footer-categories">
              <li><a>Điện thoại</a></li>
              <li><a>Laptop</a></li>
            </ul>
          </div>
        </div>
        <!-- Start Single Footer Widget -->
        <div class="col-md-3 col-lg-2 col-sm-6 smt-30 xmt-30">
          <div class="ft__widget">
            <h2 class="ft__title">Thông tin</h2>
            <ul class="footer-categories">
              <li><a>Về chúng tôi</a></li>
              <li><a>Liên hệ</a></li>
              <li><a routerLink="/pages/policy">Điều khoản & Chính sách</a></li>
            </ul>
          </div>
        </div>
        <!-- Start Single Footer Widget -->
        <div class="col-md-3 col-lg-3 col-lg-offset-1 col-sm-6 smt-30 xmt-30">
          <div class="ft__widget">
            <h2 class="ft__title">Bản tin</h2>
            <div class="newsletter__form">
              <p>Đăng ký bản tin của chúng tôi và được giảm giá 10% khi mua hàng đầu tiên của bạn .</p>
            </div>
          </div>
        </div>
        <!-- End Single Footer Widget -->
      </div>
    </div>
  </div>
</footer>
<!-- End Footer Area -->
